.quick-input-widget {
  transform: translateY(-50%) !important;
  top: 50% !important;
  box-shadow: 0px 8px 20px rgba(0, 0, 0.24, 0.95) !important;
  padding: 10px 10px 18px 10px !important;
  border-radius: 5px !important;
}

.monaco-list-rows {
  background: transparent !important;
}

.monaco-list-row:hover {
  background: rgba(0, 0, 0, 0.2) !important;
}

.notifications-toasts .monaco-list-row:hover {
  background: none !important;
}

.quick-input-filter .monaco-inputbox {
  border-radius: 2px !important;
  padding: 8px !important;
  border: none !important;
  background-color: rgba(34, 34, 34, 0.4) !important;
  font-family: "JetBrains Mono" !important;
  font-size: 14px !important;
  margin-bottom: 16px !important;
}

#command-blur {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.15);
  top: 0;
  left: 0;
  backdrop-filter: blur(8px);
}

.monaco-inputbox input::placeholder {
  color: rgba(255, 255, 255, 0.3) !important;
}

.editor-group-watermark {
  max-width: none !important;
}

.command-center-center {
  width: auto !important;
}

.titlebar-right > * {
  display: none !important;
}

.search-icon {
  display: none !important;
}

.codicon-search::before {
  display: none !important;
}

.codicon-arrow-right,
.codicon-arrow-left {
  display: none !important;
}

.titlebar-left {
  justify-content: flex-start !important;
  flex-grow: 0 !important;
  width: auto !important;
}

.monaco-workbench
  .part.titlebar
  > .titlebar-container
  > .titlebar-center
  > .window-title
  > .command-center
  .action-item.command-center-center {
  border: none !important;
  background: transparent !important;
}

/* File Explorer Item Label */
.monaco-tree .monaco-tree-row .label-name,
.monaco-list .monaco-list-row .monaco-icon-label .label-name {
  font-family: "JetBrains Mono" !important;
  font-size: 14px !important;
  font-weight: 200;
  color: #fff !important;
}

/* Sidebar top shadow */
.monaco-scrollable-element > .shadow.top {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75) !important;
  top: -3px !important;
}

/* Side bar */
.part.sidebar {
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.25);
}

/* List item label name */
.monaco-list.list_id_1 .monaco-list-row.selected .label-name {
  color: #fff !important;
  opacity: 1 !important;
}

.mtk3 {
  font-family: "JetBrains Mono" !important;
  color: #008c7d !important;
}

.window-title {
  font-family: "JetBrains Mono" !important;
  font-weight: 400;
  font-size: 16;
}

.letterpress {
  display: none;
  background-repeat: no-repeat no-repeat !important;
  background-position: center center !important;
  background-size: contain !important;
  width: 20% !important;
}
